.container {
    background: url("/assets/img/hulk.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 1800px;
    background-attachment: fixed;
    background-size: cover;

}